%hr

%row#silverlight
  .large-3.columns
    %h1.subheader Silverlight
    = link_to 'Fork it on Github', 'https://github.com/Agilefreaks/winbugfreak'

  .large-9.columns
    %p Get it from nuget
    %pre
      %code{'data-language' => 'csharp'}
        :preserve
          PM> Install-Package BugFreak.Silverlight

    %p Setup and hook
    %pre
      %code{'data-language' => 'csharp'}
        :preserve
          public partial class App
          {
            using BugFreak.Silverlight;

            public static void Main()
            {
              // Setup
              BugFreak.GlobalConfig.Settings.ApiKey = "#{api_key(current_user)}";
              BugFreak.GlobalConfig.Settings.Token = "#{token}";

              // Hook
              AgileReporter.Hook();
            }
          }
