%hr

%row#wpf
  .large-8.columns
    %p Get it from nuget
    %pre
      %code{'data-language' => 'csharp'}
        :preserve
          PM> Install-Package BugFreak.WPF

    %p Add the configuration section to your app.config
    %pre
      %code{'data-language' => 'html'}
        :escaped
          <pre>
            <configSections>
              <section name="BugFreak" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
            </configSections>

            <BugFreak>
              <add key="ApiKey" value="apiKey"/>
              <add key="Token" value="token"/>
            </BugFreak>
          </pre>

    %p Add hook code in App.xaml.cs
    %pre
      %code{'data-language' => 'csharp'}
        :preserve
          public partial class App
          {
            using BugFreak.WPF;

            public static void Main()
            {
              // Hook
              AgileReporter.Hook();

              var application = new App();
              application.InitializeComponent();
              application.Run();
            }
          }

  .large-4.columns
    %h1.subheader WPF
    = link_to 'Fork it on Github', 'https://github.com/Agilefreaks/winbugfreak'
