%hr

%row#wpf
  .large-9.columns
    %p Get it from nuget
    %pre
      %code{'data-language' => 'csharp'}
        :preserve
          PM> Install-Package BugFreak.WPF

    %p And hook it up in your App.xaml.cs#OnStartup method
    %pre
      %code{'data-language' => 'charp'}
        :preserve
          using BugFreak;

          public partial class App
          {
            protected override void OnStartup(System.Windows.StartupEventArgs e)
            {
              base.OnStartup(e);

              BugFreak.Hook("#{api_key(current_user)}", "#{token}");
            }
          }

  .large-3.columns
    %h1.subheader WPF
    %p
      = link_to 'Fork it on Github', 'https://github.com/Agilefreaks/winbugfreak', target: '_blank'
    %p
      = link_to 'Full sample', 'https://github.com/Agilefreaks/winbugfreak/tree/master/Code/Samples/Wpf.Sample', target: '_blank'
