%h1 About

%p
  Hi there fellow application builders,

%p
  This is a spin of a internal bug tracking tool
  = link_to ' we ', 'http://agilefreaks.com', target: '_blank'
  use.

%p
  If yoo are like us and feel that the world need good working software that gives joy to the user, than feel free to
  put this to good use or
  = link_to ' improve it.', 'github.com/agilefreaks/apibugfreak'

%p
  Feel free to drop us a line at:
  = mail_to 'dev@omnipasteapp.com'
