= content_for :title, 'New Application'

%h2
  New application

= simple_form_for @user_application, url: user_applications_path do |f|
  = f.input :name, autofocus: true
  = f.submit 'Create', class: 'button'