%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright Agilefreaks
      .large-6.columns
        %p
          Hosted by
          = link_to image_tag('SL_IBM_Logo_Web.png'), 'http://www.softlayer.com/'