%footer.row
  .large-12.columns
    %hr/
    .row
      .large-6.columns
        %p © Copyright Agilefreaks
      .large-6.columns
        .row
          .small-3.columns
            Hosted by
          .small-8.small-offset-1.columns
            = link_to image_tag('SL_IBM_Logo_Web.png'), 'http://www.softlayer.com/', target: '_blank'